* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    touch-action: manipulation;
}

h1 {
    margin-top: 1.5rem;
    font-size: 2.2rem;
}

h2 {
    margin-top: 1rem;
    font-size: 1.3rem;
    min-height: 40px;
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.line-one,
.line-two {
    display: flex;
}


.btn {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 1.5rem;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 0.1s ease;
}


.btn:active {
    transform: scale(0.95);
}

.red {
    background-color: #d95980;
}

.yellow {
    background-color: #f99b45;
}

.green {
    background-color: #63aac0;
}

.purple {
    background-color: #819ff9;
}

.flash {
    background-color: white;
}

.userFlash {
    background-color: #2ecc71;
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.1rem;
    }

    .btn {
        height: 130px;
        width: 130px;
        margin: 1rem;
        border-width: 8px;
    }
}
